body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

.workplace {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:last-child {
  @media (max-width: 1024px) {
    margin-top: 16px;
  }
}

button.reject {
  background-color: #f44336;
}

button:hover {
  opacity: 0.9;
}

.status {
  margin-top: 20px;
  font-weight: bold;
}

.error {
  color: #f44336;
  margin-top: 10px;
  font-weight: bold;
}
